body {
  color: #263238;
  padding-bottom: 48px;
}

header {
  margin-bottom: 24px;
}

h2 {
  font-size: 40px;
  margin-bottom: 16px;
}

input {
  margin-bottom: 16px;
}

.container {
  width: 60%;
}

@media screen and (max-width: 767px) {
  .container {
    width: 96%;
  }
}

.pagination .active {
  background-color: #26a69a !important;
}

.materialize-textarea {
  min-height: 96px !important;
}

label {
  display: block;
}

.error {
  color: #e53935;
  display: block;
}

@media screen and (max-width: 1015px) {
  nav .brand-logo {
    font-size: 1.6rem !important;
  }
}

.dropdown-trigger {
  display: none;
}

@media screen and (max-width: 767px) {
  .dropdown-trigger {
    display: block;
  }
}

.dropdown-content a {
  font-size: 0.8rem !important;
}

.dropdown-txt {
  color: #263238;
  margin-bottom: 8px;
}

.header-ttl {
  font-size: 1.8rem;
}

.header-txt {
  margin-right: 16px;
}

.modal .btn {
  margin: 0 0 16px 0 !important;
}

.modal-txt {
  color: #263238;
  line-height: 1.4;
}

.entry-list {
  display: block;
  margin: 0 auto;
}

.entry-list .btn {
  margin-bottom: 32px;
  margin-top: 32px;
}

.entry {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 48px;
}

.entry:last-child {
  margin-bottom: 32px;
}

.entry-header {
  align-items: center;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
}

.entry-ttl {
  display: inline;
  font-size: 18px;
  margin: 0;
  text-align: left;
}

.entry-date {
  display: inline;
  font-size: 18px;
  margin: 0;
}

.entry-body {
  line-height: 1.8;
  padding: 8px 16px 16px 16px;
}

.entry-more {
  margin-bottom: 16px;
  padding: 0 16px;
}

.form-wrapper {
  border: 1px solid #e0e0e0;
  padding: 48px;
}

.form__btn {
  margin-top: 36px;
}

.comment-wrapper {
  padding: 16px;
}

.comment-list {
  margin: 24px 0;
}

.post__btn {
  margin-bottom: 24px;
  text-align: right;
}

.post__btn a {
  margin-left: 16px;
}

.post-modal {
  text-align: left;
}

.comment {
  border-top: 1px dashed #9e9e9e;
  padding-top: 16px;
}

.comment-header {
  align-items: center;
  color: #9e9e9e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8rem;
  justify-content: flex-start;
}

.comment__num {
  margin-right: 8px;
}

.comment__name {
  margin-right: 8px;
}

.comment-body {
  margin-top: 16px;
  padding-bottom: 24px;
}
